.footer_icon{
    font-size: 29px;
 
    margin-right: 5px;
    float: left;
}
.footer_icon_container{
        float: left;
 
}

.m_l_10{
    margin-left: 10px;
}

.m_t_30{
    margin-top: 30px;
}
.float_left{
    float:left;
}

.m_top_5{
    margin-top: 5px;
}

.m_t_10{
    margin-top: 10px;
}

.showonmobile{
    display: none!important;
}


.timeing_open_ele{
        width: 134px;
    float: left;
}
@media only screen and (max-width: 768px) {
    .showonmobile{
        display: block!important;
    }
    .hideonmobile{
        display:none!important;
    }
    .revo-slider-desc-text{
        font-size: 16px!important;
        line-height: 18px!important;
        background: #000000b0;
        padding: 10px!important;

    }

    .revo-slider-caps-text{
        font-size: 15px!important;
    }
}



.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #333333;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}